name: Publish SDK to test PyPI
on:
  workflow_dispatch:

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment: 
      name: release-test
      url: "https://test.pypi.org/project/dbt-sl-sdk/"
    permissions:
      id-token: write

    steps:
      - name: Check-out the repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744  # actions/checkout@v3

      - name: Setup Python ${{ env.PYTHON_VERSION }} environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Build package
        run: hatch build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: "https://test.pypi.org/legacy/"

