name: Publish SDK to PyPI
on:
  workflow_dispatch:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+-[a-zA-Z]*'

jobs:
  code-quality:
    uses: ./.github/workflows/code-quality.yaml
    secrets:
      TEST_HOST: ${{ secrets.TEST_HOST }}
      TEST_ENV_ID: ${{ secrets.TEST_ENV_ID }}
      TEST_TOKEN: ${{ secrets.TEST_TOKEN }}

  pypi-publish:
    needs: [code-quality]
    runs-on: ubuntu-latest
    environment: 
      name: release
      url: "https://pypi.org/project/dbt-sl-sdk/"
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # actions/checkout@v4

      - uses: ./.github/actions/setup-python-env

      - name: Build package
        run: hatch build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # pypa/gh-action-pypi-publish@release/v1

